// scss/styles.scss
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import '_variables.scss';
@import 'pagecontent.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: $scroll-background;
}

::-webkit-scrollbar-thumb {
    background: $second-color;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $scroll-hover;
}

::selection {
    background-color: $second-color;
    color: $primary-color;
}

::-moz-selection {
    background-color: $second-color;
    color: $primary-color;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  overflow-x: hidden;
}

main {
    width: 100vw;
    overflow-x: hidden;
    background-color: $primary-color;

    section.first-section {
        width: 100vw;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
        }
        
        .infos-first-section {
            width: 60vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            padding-left: 10%;
            align-items: center;
            gap: 20px;
            justify-content: center;
            z-index: 2; /* Aumenta o z-index */
            position: relative; /* Adiciona um posicionamento relativo */
            h1, span, button {
                align-self: flex-start;
            }
            h1 {
                color: $primary-text-color;
                font-size: 50pt;
                padding: 0;
                margin: 0;
            }
            span {
                color: $second-text-color;
                font-size: 21pt;
            }
            button {
                background-color: $second-color;
                border: none;
                padding: 15px 30px;
                border-radius: 30px;
                font-size: 16pt;
                font-weight: bolder;
                margin-top: 20px;
                transition: all 0.25s;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }
    }
}

header {
    width: 100vw;
    height: 70px;
    position: fixed;
    display: flex;
    background-color: $header-color;
    color: $primary-text-color;
    align-items: center;
    box-shadow: 10px 0px 10px 10px $header-color;
    z-index: 1;

    .logo-header {
        position: absolute;
        left: 10%;
        width: 180px;
    }
    nav {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        ul {
            display: flex;
            position: absolute;
            right: 10%;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 50px;
            li {
                font-weight: 400;
                font-size: 15pt;
                transition: all 0.25s;
                &:hover {
                    cursor: pointer;
                    color: $second-color;
                }
            }
        }
    }

    @media (max-width: 768px) {

        img.logo-header {
            display: none; // Esconde a imagem do logo no mobile
        }

        nav {
            flex: 1; // Expande a navegação para ocupar o espaço
            justify-content: center; // Centraliza a navegação no espaço restante
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 30px;
                gap: 20px;
                width: 100%;
                right: 0;
            }
        
        }
       
    }
    
    
}

.footer {
    background-color: #0f0f0f;
    color: #fff;
    padding: 40px 0;

    .footer-top {
        text-align: center;

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 20px;
        }

        .store-buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap; // Permite quebra de linha em telas menores

            a img {
                width: 150px;

                @media (max-width: 768px) {
                    width: 120px;
                }

                @media (max-width: 480px) {
                    width: 100px;
                }
            }
        }
    }

    .footer-middle {
        display: flex;
        justify-content: space-between;
        padding: 40px 20px;

        .column {
            h4 {
                font-size: 18px;
                margin-bottom: 15px;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 10px;

                    a {
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .cta-button {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5%;

            .download-button {
                background-color: #32a852;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
                font-size: 16px;

                &:hover {
                    background-color: #28a745;
                }
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            text-align: center;

            .column {
                margin-bottom: 20px; // Espaçamento entre as colunas
            }
        }
    }

    .footer-bottom {
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid #333;

        p {
            margin: 5px 0;
        }

        .footer-links {
            margin-bottom: 15px;

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .social-icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap; // Ajuste para ícones ficarem em várias linhas em telas pequenas

            a .fa-brands {
                color: #fff;
                font-size: 2rem;
                margin: 10px;

                @media (max-width: 480px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: 20px 0;

        .footer-top h2 {
            font-size: 20px;
        }

        .footer-top p {
            font-size: 14px;
        }
    }

    @media (max-width: 480px) {
        .footer-top h2 {
            font-size: 18px;
        }

        .footer-top p {
            font-size: 12px;
        }
    }
}


